.wd-course-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 120;
    margin: 0px;
    margin-left: 20px;
}

.wd-course-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}



.wd-course-navigation li.wd-active{
    border-left: 3px solid black;
}

.wd-course-navigation li.wd-active a{
    color: black;
}

.hello li.wd-act {
    border-left: 3px solid green;
}
.hello li.wd-act2 {
    border-left: 3px solid rgb(143, 139, 139);
}

.wd-course-navigation a{
    color: red;
    text-decoration: none;
}